.body {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.body .head {
    background-color: #2e5749;
    width: 1400;
    width: 308px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 53px 53px;
}

.body h2 {
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 14px;
    width: fit-content;
    margin: 0 auto 60px;
    text-align: center;
    height: 80px;
}

.body .img {
    width: 308px;
    background-image: linear-gradient(180deg,transparent 49%,white 0,white 53%,#f3c623 0,#f3c623 60%);
    text-align: center;
    padding-bottom: 15px;
    border-radius: 50%;
    margin-top: -17px;
}

.body img {
    width: 250px;
    height: 250px;
    border: 10px solid white;
    border-radius: 50%;
}