 .we .img {
    padding-top: 23px;
    text-align: center;
    margin-bottom: 25px;
}

.we .info {
    background-color: #2e5749;
    color: #fff;
}

.we .info {
    padding: 20px 30px;
    text-align: center;
    border-radius: 15px;
    position: relative;
}

.we h1 {
    position: relative;
    font-size: 50px;
}

.we .info img {
    position: absolute;
    width: 250px;
    text-align: center;
    top: 35px;
    right: 45%;
}


/* media queries */
@media screen and (max-width: 992px) {
   .we .info {
    left: 244px;
    width: 650px;
    border-radius: 150px 0 0 150px;
    padding-left: 108px;
    
    height: 250px;
    text-align: right;
   }
   .we .info img {
    margin-right: -265px; 
   }
}

/* media queries */
@media screen and (max-width: 830px) {
    .we .info {
        text-align: center;
        border-radius: 0;
        margin: 0 auto;
        left: 0;
        width: 300px;
        height: 300px;
       }
    
       .we .info img {
        margin-right: -32px;
       }
   
}