
body {
  direction: rtl;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
 list-style: none;
}

.navbar .link {
  margin-right: 15px;
}

.container {
  padding: 0 15rem;
}

@media screen and (max-width: 830px) {
  .container {
    padding: 0;
  }
}
